services:
  ptc-production-frontend:
    image: ${PTC_FRONTEND_REGISTRY_URL}:${PTC_FRONTEND_VERSION}
    container_name: ptc-production-frontend
    restart: unless-stopped
    depends_on:
      ptc-production-backend:
        condition: service_healthy
    ports:
      - "3090:3000"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3000 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - ptc-production-network
